*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

       
}



.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/Users/robertrouthier/Desktop/Robert-Routhier-Homework/Weather-/Weather-App/assets/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg');
    background-size:cover ;

}


.search-card{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: #000000d0;
color:aliceblue;
padding: 2em;
border-radius: 30px;
width: 30%;
height: 100vh;
margin:1em;
font-size: larger

}

.search{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 15px;
}

.recent{
    display: flex;
    flex-direction: row
}

.content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 70%;
}

.main-card, .five-day{
    border: 3px black;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #000000d0;
    border-radius: 30px;
    padding: 2em;
    margin: 1em;
    color: aliceblue;
}

.five-day{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.single-card{
    background-color: aliceblue;
    color: black;
    
}


